<html>

<head>
    <title>Harry Potter y la piedra filosofal</title>
</head>

<body>
    <h1>Harry Porlotes y la piedra filosofal</h1>
    <p>Harry Potter es un niño huérfano criado por su tío Vernon y su tía Petunia que lo odian. Desde que era pequeño,</p> 
    <p>estos siempre le han contado que sus padres murieron en un accidente de coche.</p>
    <p>El día de su decimoprimer cumpleaños, Harry recibe la inesperada visita de un hombre gigantesco de nombre Rubeus</p>
    <p>Hagrid. Este le revela que es, de hecho, hijo de dos poderosos magos y que él también posee extraordinarios poderes.</p>
    <p>Lleno de alegría, el chico acepta ir a estudiar a Hogwarts, el famoso colegio de magia y hechicería. Por fin,</p>
    <p>tiene la oportunidad de hacer amigos. Odiado por Severus Snape, profesor de Pociones, y protegido por Albus Dumbledore,</p>
    <p>director del colegio, Harry intentará dilucidar el misterio de la piedra filosofal.</p> 
</body>

</html>